

<% content_for :ogp do %>
  <meta property="og:title" content="<%= @recruit.title %>"/>
  <meta property="og:url" content="https://aoyamatching.com/recruits/<%= @recruit.id %>"/>
  <meta property="og:image" content=<%= "https://aoyamatching.com/75f4e0e9b96aad98c79f1a8f8453ea86.png" %> />
  <meta property="og:site_name"  content="AoyaMatching" />
  <meta property="og:description" content="<%= @recruit.contents %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@KOPP55" />
<% end %>


<div class="card text-center">
  <img src="/<%= @recruit.image_url %>" class="card-img-top" alt="募集内容">
  <div class="card-body">
    <h5 class="card-title"><%= @recruit.title %></h5>
    <p class="card-text"><%= @recruit.contents %></p>
    <p class="card-text"><small class="text-muted"><%= @recruit.created_at.strftime('%Y/%m/%d %H:%M')  %></small></p>
  <% if current_user %>
    <% if @recruit.user_id == current_user.id %>
      <a href="#" class="btn btn-primary">募集中！</a>

    <% elsif current_user.entries.where(recruit_id: @recruit.id).present? %>
      <a href="#" class="btn btn-primary">もう応募しているよ！</a>

    <% else %>
      <a href="<%= new_recruit_entry_path(@recruit) %>" class="btn btn-primary">応募する！</a>
    <% end %>
    <div class="social text-center">
      <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="AoyaMatching" target="_blank">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <p class="share-url"><a onclick="clipURL()" class="url-text">URL</a><a onclick="clipURL()"><i class="far fa-copy  share-url"></i></p></a>
  <% else %>
      <a href="https://aoyamatching.com/users/auth/twitter" class="btn btn-primary">ログインしてね</a>
  <% end %>
    </div>
  </div>
</div>
</div>


<div class="bosyu">
  <% if current_user %>
   <% if @recruit.user_id == current_user.id %>
     <ul class="list-group">
       <li class="list-group-item list-group-item-secondary">応募一覧</li>
       <% @entries.each do |entry| %>
         <div class="margin"><% @user = User.find(entry.user_id) %></div>
         <h4><%= link_to @user.name, user_path(@user) %>さん</h4>
         <li class="list-group-item"><%= entry.message %></li>
       <% end %>
      </ul>
   <% end %>
 <% end %>
</div>

